<div class="container-fluid g-0 p-3" data-controller="logs">
    <div class="row g-0">
        <div class="col-4 p-0 py-2 m-0 text-dark">
            <%= link_to logs_path do %>
                <i class="bi bi-caret-left-fill fs-3 text-dark text-start"></i>
            <% end %>
        </div>
        <div class="col-4 p-0 py-2 m-0 text-center"><h1>All Logs</h1></div>
        <div class="col-4"></div>
        <div class="col-12 g-0 mt-4 px-1">
            <% if @logs %>
                <div class="row">
                    <% for date, logs in @logs %>
                        <div class="col-12 mb-4">
                            <b><%= date.strftime("%B %d, %Y") %></b>
                            <% for log in logs %>
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <span class="float-start"><%= log.title %></span>
                                        <span class="float-end"><%= number_to_currency(log.value, precision: 2) %></span>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
